@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

:focus {
    outline: none !important;
}

.btn {
    @apply px-4 py-2 rounded-md text-lg text-black;
}

.nav-underline {
    @apply bg-black transition-all transform scale-x-0;
    height: 1px;
}

.btn:hover .nav-underline {
    @apply scale-x-100;
}
