@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    /* https://www.freecodecamp.org/news/web-fonts-in-2018-f191a48367e8/ */
    /* Converter for TTF/OTF fonts */
    font-family: 'GogoiaDeco';
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Shows system font while loading, removing will hide the font entirely */
    unicode-range: U+000-5FF; /* Download only latin glyphs */
    src: local('GogoiaDeco'), url('/assets/fonts/GOGOIA-Deco.woff2') format('woff2');
}

@font-face {
    /* https://www.freecodecamp.org/news/web-fonts-in-2018-f191a48367e8/ */
    /* Converter for TTF/OTF fonts */
    font-family: 'GogoiaRegular';
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Shows system font while loading, removing will hide the font entirely */
    unicode-range: U+000-5FF; /* Download only latin glyphs */
    src: local('GogoiaRegular'), url('/assets/fonts/GOGOIA-Regular.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-body text-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-xl tracking-tight my-5;
}

h1 {
    @apply font-heading lg:text-7xl text-4xl my-10;
}

h2 {
    @apply font-heading lg:text-6xl text-2xl my-8;
}

h3 {
    @apply lg:text-4xl text-xl my-1;
}

h5 {
    @apply text-2xl my-2;
}

p {
    @apply my-5;
}

:focus {
    outline: none !important;
}

.btn {
    @apply rounded-md text-2xl block px-4 py-2 font-link;
    width: fit-content;
}

.btn::after {
    content: '';
    @apply bg-highlight transition-all transform scale-x-0 block;
    height: 2px;
}

.btn:hover::after {
    @apply scale-x-100;
}
