---
layout: main
---

<header class="">
    <nav class="px-4 sm:px-6 lg:px-8 max-w-7xl m-auto lg:mt-10" aria-label="Top">
        <div x-data="{ open: false }" class="w-full lg:pt-6 lg:pb-4 lg:flex items-center justify-between">
            <div class="flex justify-between lg:justify-center items-center">
                <a href="/" class="mt-5 lg:mt-0 flex-shrink-0 flex items-center">
                    <img class="lg:transform lg:-translate-y-4 h-auto w-auto" src="/assets/logo.png">
                    <span class="lg:mt-0 ml-5 font-heading text-xl lg:text-2xl">Giulia Panuccio Design</span>
                </a>
                <div id="menu-button"
                class='lg:hidden mr-3 text-2xl flex justify-center items-center text-center transition transform origin-center'
                :class="open ? 'open' : ''"
                @click="open = !open; open ? $refs.slideDownWrapper.style.height = $refs.slideDown.scrollHeight+'px' : $refs.slideDownWrapper.style.height = '0px'">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div :class="open ? 'mt-4' : ''" class="lg:mr-4 transition-all overflow-hidden h-0 lg:overflow-auto lg:h-auto" x-ref="slideDownWrapper">
                <div class='flex flex-col lg:flex-row justify-center items-center gap-4 lg:my-2' x-ref="slideDown">
                    {% include "partials/header-menu.njk"%}
                </div>
            </div>
        </div>
    </nav>
</header>

{% block content %}
    {{ content | safe }}
{% endblock %}
