---
layout: body
title: Project Title
description: Project description
heroImage: assets/uploads/placeholder.jpg
otherImages:
    -   image: assets/uploads/placeholder.jpg
        name: Image Name
tagsType:
tagsAesthetic:
heroProject: false
---

<h2>{{ title }}</h2>
<p>{{ description | safe }}</p>
<img src="{{ heroImage | url }}" alt="{{ heroImage }}"/>
<div class="flex gap-5 w-full mt-5">
    {% for otherImage in otherImages %}
        <div>
            <img class="w-full" src="{{ otherImage.image | url }}" alt="{{ otherImage.image }}"/>
        </div>
    {% endfor %}
</div>
