---
layout: body
title: Project Title
description: Project description
heroImage: /assets/uploads/placeholder.jpg
otherImages:
    - image: /assets/uploads/placeholder.jpg
      name: Poster
    - image: /assets/uploads/placeholder.jpg
      name: Flyer
categories:
heroProject: false
permalink: /portfolio/{{ page.fileSlug }}/index.html
---
<div class="flex flex-col lg:flex-row items-center justify-between gap-4 mt-16 lg:mt-0">
    <div class="flex flex-col lg:flex-row items-center">
        <h2 class="m-0">{{ title }}</h2>
    </div>
    <div class='flex gap-2'>
        {% for category in categories %}
            <a href="/portfolio/{{ category }}" class="btn">{{ category | categoryNameFromSlug }}</a>
        {% endfor %}
    </div>
</div>
<p class="text-center lg:text-left">{{ description | safe }}</p>

<img src="{{ heroImage | url }}" alt="{{ heroImage }}"/>
<div class="flex w-full mt-5 flex-wrap">
    {% for otherImage in otherImages %}
        <div class="relative flex-grow mx-5 mt-8 mb-16" style="flex-basis: 25%;">
            {#calc(100% / 3)#}
            <img class="w-full" src="{{ otherImage.image | url }}" alt="{{ otherImage.image }}"/>
            <div class='text-left m-2 text-sm'>{{ otherImage.description }}</div>
            {% if loop.last %}
                {% if website %}
                    <div class="client-badge text-center flex justify-center items-center">
                        <a href="http://{{website}}" target="_blank" class="btn">Visit client's website</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>
