---
permalink: /admin/config.yml
---
backend:
    name: git-gateway
    branch: main

local_backend: true

media_folder: '/assets/uploads'
public_folder: '/assets/uploads'

collections:
    - name: 'projects'
      label: 'Projects'
      folder: 'src/projects'
      editor:
        preview: false
      slug: '{{ '{{year}}-{{month}}-{{day}}-{{slug}}' }}'
      create: true
      fields:
          - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'project' }
          - { label: 'Project Title', name: 'title', widget: 'string' }
          - { label: 'Project Description', name: 'description', widget: 'string', required: false }
          - { label: 'Client Website', name: 'website', widget: 'string', required: false, hint: 'No need for the http://, the site adds that for you' }
          - { label: "Display this project with it's category tile on the home page?", name: 'heroProject', widget: 'boolean' }
          - label: 'Categories'
            name: 'categories'
            widget: 'select'
            multiple: true
            options:
            {% for category in categories -%}
    {{'  '}}- { label: '{{ category.name | safe }}{{ ' (main category)' if category.isMain === true }}', value: '{{ category.name | slug }}' }
            {% endfor %}
{{'          '}}- { label: 'Hero Image', name: 'heroImage', widget: 'image' }
            # widget: 'object'
            # fields:
            #     - { label: 'Image', name: 'image', widget: 'image' }
            #     - { label: 'Image Description', name: 'description', widget: 'string' }
          - label: 'Other Images'
            name: 'otherImages'
            widget: 'list'
            fields:
                - { label: 'Image', name: 'image', widget: 'image' }
                - { label: 'Image Description', name: 'description', widget: 'string', required: false, default: 'Image description' }
