---
layout: body
permalink: /
js: index.js
---

<div class="text-center my-20 lg:my-48">
    <h2 class="mb-8">Graphic Designer</h2>
    <p>I began GP Design as a way to nurture my talents and skills. Entering the zone of creativity from ideas to execution is what drives me. This website is a collection of works designed to offer a snapshot into my varied skills and styles and contains works produced for both clients and as individual projects.</p>
    <p>My niche is logo and branding, and my passion is layout. Whether it is digital or print, I would be honoured to work with you as a design ally, assisting you in the telling of your story, whatever it may be.</p>
    <a href="mailto:info@giuliapanuccio.com.au" class="btn m-auto mt-8">Hire Me</a>
</div>

<div class="my-20">
    <h2 class="text-center">Portfolio</h2>
    {% for mainSection in[true, false] %}
        <div class='flex flex-col lg:flex-row gap-7 lg:gap-5 justify-center items-center mb-16'>
            {% for category in categories.data %}
                {% if mainSection === category.isMain %}
                    <a href="/portfolio/{{ category.name | slug }}" class='max-w-sm tile' style="flex-basis: 100%;">
                        <div class="grid grid-cols-2 gap-1" style="grid-template-rows: {{ '190px 95px' if mainSection === true else '150px' }};">
                            <div class="col-span-2">
                                <img class="rounded-t-xl" src="{{ category.heroProjects[0] }}"/>
                            </div>
                            {% if mainSection === true %}
                                {% for heroProject in category.heroProjects %}
                                    {# Only show additional projects if there are any, but don;t show the first one again #}
                                    {% if not loop.first %}
                                        <div class="{% if loop.length == 2 %} col-span-2 {% endif %}">
                                            <img class="" src="{{ heroProject }}"/>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <h5 class='text-center px-2 py-3 lg:py-0 lg:h-20 flex justify-center items-center'>
                            <span>{{ category.name }}</span></h5>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
