---
layout: body
permalink: /
js: index.js
heroProjects:
    -   name: Hero Project 1
        image: assets/uploads/placeholder.jpg
        url: #
        tags: retro, brochure
    -   name: Hero Project 2
        image: assets/uploads/placeholder.jpg
        url: #
        tags: corporate, logo
    -   name: Hero Project 3
        image: assets/uploads/placeholder.jpg
        url: #
        tags: french chic, rebrand
---

<div class="text-center my-10">
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus, dui a condimentum semper, ex dui maximus mi, eget dapibus leo erat laoreet magna. In hac habitasse platea dictumst. Nunc et sagittis augue. Ut elit ipsum, pellentesque vel ornare quis, pellentesque id quam. Donec tincidunt venenatis dolor a feugiat. Donec. </p>
    <a href="#" class="btn m-auto">Hire Me</a>
</div>

<div class="my-10">
    <h2 class="text-center">Lorem Ipsum</h2>
    <div class='flex gap-5 justify-center'>
        {% for project in heroProjects %}
            <a href="#" class='rounded-xl p-10 transform transition-all duration-300 hover:shadow-lg hover:-translate-y-2 bg-gray-50'>
                <img src="{{ project.image }}"/>
                <h5 class=''>{{ project.name }}</h5>
                <p class=''>Tags: {{ project.tags }}</p>
            </a>
        {% endfor %}
    </div>
    <a href="#" class="btn m-auto my-5">See More</a>
</div>
