---
layout: body
permalink: /
js: index.js
heroProjects:
    -   name: Hero Project 1
        image: assets/uploads/placeholder.jpg
        url: #
        tags: retro, brochure
    -   name: Hero Project 2
        image: assets/uploads/placeholder.jpg
        url: #
        tags: corporate, logo
    -   name: Hero Project 3
        image: assets/uploads/placeholder.jpg
        url: #
        tags: french chic, rebrand
---

<div class="text-center mt-10 mb-36">
    <h2>Graphic Designer & Illustrator</h2>
    <p>I began GP Design as a way to nurture my talents and skills. Entering the zone of creativity from ideas to execution is what drives me. This website is a collection of works designed to offer a snapshot into my varied skills and styles and contains works produced for both clients and as individual projects.</p>
    <p>My niche is logo and branding, and my passion is layout. Whether it is digital or print, I would be honoured to work with you as a design ally, assisting you in the telling of your story, whatever it may be.</p>
    <a href="#" class="btn m-auto">Hire Me</a>
</div>

<div class="my-36">
    <h2 class="text-center">Portfolio</h2>
    <div class='flex gap-5 justify-center'>
        {% for project in heroProjects %}
            <a href="#" class='rounded-xl p-10 transform transition-all duration-300 hover:shadow-lg hover:-translate-y-2 bg-gray-50'>
                <img src="{{ project.image }}"/>
                <h5 class=''>{{ project.name }}</h5>
                <p class=''>Tags: {{ project.tags }}</p>
            </a>
        {% endfor %}
    </div>
    <a href="#" class="btn m-auto my-5">See More</a>
</div>
