---
layout: body
pagination:
    data: categories
    size: 1
    alias: category
permalink: "portfolio/{{ category | slug }}/"
---
{# <ul>
    {% for project in collections.projects %}
        <li>
            <strong>
                <a href="{{ project.url | url }}">{{ project.data.title }}</a>
            </strong>
            -
            <span>
                {{ project.data.description }}
            </span>
        </li>
    {% endfor %}
</ul> #}

{{ category }}
