{% set navPages = collections.all | eleventyNavigation %}
{%- for extraLink in extraNav %}
    {% set navPages = (navPages.push(extraLink), navPages) %}
{%- endfor %}
{# <script>
    console.log('navPages', {{navPages | dump | safe}});
</script> #}
{%- for entry in navPages %}
    <a
        href="{{ entry.url | url }}"
        class="btn {% if entry.url == page.url %} active {% endif %}"
        {% if entry.clickFunc %} @click="{{ entry.clickFunc }}" {% endif %}
    >
        {{ entry.title }}
    </a>
{%- endfor %}
<div class='flex gap-3 text-2xl'>
    <a href="mailto:info@giuliapanuccio.com.au" class="">
        <i class="fal fa-envelope"></i>
    </a>
    <a href="https://www.instagram.com/g_p_design/" class="">
        <i class="fab fa-instagram"></i>
    </a>
</div>
